.ButtonBar{
	-fx-background-color: #154C79;
	
}

.navButton{
	-fx-background-color: #154C79;
	-fx-text-fill: white;
}
.navButton:hover{
	-fx-background-color: black;
}

.addContent{
	-fx-background-color: #154C79;
	-fx-text-fill: white;
}
.button{
	-fx-background-color: #154C79;
	-fx-text-fill: white;
}

.invisible{
    visibility: false;
}

.svgRegion{

}
